<template>
<div>

  <b-card>
      <form @submit.prevent="addApartment">
          <div class="row">
            <input type="text" class="form-control col-3" v-model="name" placeholder="Apartment Name">

            <input type="number" class="form-control col-3" v-model.number="roomNumber" placeholder="Number of rooms">

            <input type="number" class="form-control col-3" v-model.number="size" placeholder="Size m">

            <button type="submit" class="btn btn-primary col-2">Add</button>
            
          </div>
      </form>
  </b-card>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'addApartment',
  props: ['buildingId'],
  data(){
      return {
          name: '',  
          roomNumber: '',
          size: ''
        }
  },
  methods:{
      addApartment(){
          let newApartment = {
              id: Math.round(Math.random() * 1000),
              buildingId: this.buildingId,
              name: this.name,
              roomNumber: this.roomNumber,
              size: this.size
          };

          this.name = '';
          this.roomNumber = '';
          this.size = '';

          this.$emit('add-apartment', newApartment);
      }
  }
}
</script>

<style>

</style>
