<template>
<div>

  <b-card>
      <form @submit.prevent="addBuilding">
          <div class="row">
            <input type="text" class="form-control col-3" v-model="name" placeholder="Building Name">

            <b-form-select v-model="city" class="col-3">
                <option value="" disabled selected>City</option>
                <option v-bind:key="cty" v-for="cty in cities">{{cty}} </option>
            </b-form-select>

            <input type="text" class="form-control col-3" v-model="address" placeholder="Address">

            <button type="submit" class="btn btn-primary col-2">Add</button>
            
          </div>
      </form>
  </b-card>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'AddBuildnig',
  props: ['building'],
  data(){
      return {
          id: '',
          name: '',  
          city: '',
          address: '',
          cities: []
        }
  },
  created(){
      axios.get('https://opentable.herokuapp.com/api/cities')
      .then(res => this.cities = res.data.cities)
      .catch(err => console.log(err));     
  },
  methods:{
      addBuilding(){
          let newBuilding = {
              id: Math.round(Math.random() * 1000),
              name: this.name,
              city: this.city,
              address: this.address,
              apartments: []
          }

          if(this.id != 0)
            newBuilding.id = this.id;
        
          this.name = '';
          this.city = '';
          this.address = '';

          this.$emit('add-building', newBuilding);
      }
  }
}
</script>

<style>

</style>
