<template>
    <div>
        <table class="table table-dark">
            <tr>
                <th>No.</th>
                <th>Apartment Name</th>
                <th>No. rooms</th>
                <th>Size m</th>
                <th>Delete</th>
            </tr>
            <tr v-bind:key="apartment.id" v-for="apartment in apartments">
                <td>{{apartment.id}}</td>
                <td>{{apartment.name}} </td>
                <td>{{apartment.roomNumber}} </td>
                <td>{{apartment.size}} </td>
                <td><button @click="$emit('del-apartment', apartment)" class="btn btn-primary">Delete</button></td>
            </tr>
        </table>
    </div>
</template>

<script>

export default {
    name: 'Apartment',
    props: ['apartments']
}
</script>

<style>

</style>

