<template>
  <div>
      <b-card v-bind:key="building.id" v-for="building in buildings">
        <div class="row">
          <div class="col">
            <h3 class="float-left">{{building.name}} - {{building.address}} - {{building.city}} </h3>
            <b-button @click="editBuilding(building.id)" class="float-right" variant="primary">Edit</b-button>
            <b-button @click="$emit('del-building', building.id)" class="float-right" variant="danger">Delete</b-button>
          </div>
        </div>
        <div class="row">
         <Apartment class="col" v-bind:apartments="building.apartments" v-on:del-apartment="delApartment"/>
        </div>
        <div class="row">
          <AddApartment class="col" v-bind:class="{collapse: isCollapsed}" v-on:add-apartment="addAppartment" v-bind:buildingId="building.id"/>
        </div>
        <b-button class="float-right" @click="isCollapsed = !isCollapsed">Add apartment</b-button>
      </b-card>
  </div>
</template>

<script>
import Apartment from './Apartment.vue'
import AddApartment from './AddApartment.vue'

export default {
  name: 'Buildnig',
  components:{
    Apartment,
    AddApartment,
  },
  props: ['buildings'],
  data() {
    return{
      isCollapsed: true
    }
  },
  methods: {
    addAppartment(newApartment){
      this.$emit('add-apartment', newApartment);
      this.isCollapsed = true;
    },
    delApartment(apartment){
      this.$emit('del-apartment', apartment);
    },
    editBuilding(id){
      this.$emit('edit-building', id);
      this.isCollapsed = true;
    }
  }
}
</script>

<style>

</style>
