<template>
<div>
    <b-card>
        <div class="row">
            <input type="number" class="form-control col-3" v-model="numberArray" placeholder="Number array">

            <input type="number" class="form-control col-3" v-model.number="sum" placeholder="sum">
        </div>
        <div class="row">
            <b-list-group>
                <b-list-group-item v-bind:key="answer" v-for="answer in sumNumbers">{{answer}}</b-list-group-item>
            </b-list-group>
        </div>
    </b-card>
</div>
</template>

<script>

export default {
    name: 'CodingChallange',
    data(){
        return {
            numberArray: '',  
            sum: ''
        }
    },
    computed:{
      sumNumbers(){
          let stringArray = this.numberArray.split('');
          let answers = [];

          for(let i = 0; i < stringArray.length; i++){
              for (let j = i+1 ; j < stringArray.length; j++) {
                    if(Number(stringArray[i]) + Number(stringArray[j]) === this.sum)
                    answers.push('answer: ' + stringArray[i] + ' ' + stringArray[j])
            }
          }
          return answers;
        }
    },
    
}
</script>

<style>

</style>
