<template>
<div>
    <b-card>
        <h3>Total number of buildings: {{buildingsNumber}}</h3>
        <h3>Total number of apartments: {{apartmentsNumber}}</h3>
    </b-card>
</div>
</template>

<script>

export default {
    name: 'Statistics',
    props: ['buildings'],
    computed:{
        buildingsNumber(){
            return this.buildings.length;
        },
        apartmentsNumber(){
            let sum = 0;
            for(let i = 0; i < this.buildings.length; i++)
                sum += this.buildings[i].apartments.length;
                
            return sum;
        }
    }
    
    
}
</script>

<style>

</style>
