<template>
  <div id="app" class="container">
    <div class="row">
      <b-tabs class="col">
      <b-tab title="Simple apartment managment" active>
        <div class="row">
          <div class="col-2">
            <button class="btn btn-primary float-left" type="button" @click="isCollapsed = !isCollapsed">Add building</button>
          </div>
          <AddBuilding class="col-12" v-bind:class="{collapse: isCollapsed}" ref="addBuilding" v-on:add-building="addBuilding"/>
        </div>
        <div class="row">
          <Building class="col" v-bind:buildings="buildings" v-on:del-building="delBuilding" v-on:add-apartment="addApartment" v-on:del-apartment="delApartment" v-on:edit-building="editBuilding"/>
        </div>
      </b-tab>
      <b-tab title="Statistics">
        <Statistics v-bind:buildings="buildings" class="col"/>
      </b-tab>
      <b-tab title="Coding Chalange">
        <CodingChallange class="col"/>
      </b-tab>
    </b-tabs>
    </div>
  </div>
</template>

<script>
import Building from './components/Building.vue'
import AddBuilding from './components/AddBuilding.vue'
import CodingChallange from './components/CodingChallange.vue'
import Statistics from './components/Statistics.vue'

export default {
  name: 'app',
  components: {
    Building,
    AddBuilding,
    CodingChallange,
    Statistics
  },
  data(){
    return {
      buildings: [],
      buildingToEdit: {},
      isCollapsed: true
    }
  },
  methods:{
    addBuilding(newBuilding){
      let buildingToEdit = this.buildings.filter(building => building.id == newBuilding.id)[0];

      if(buildingToEdit != undefined){
        let index = this.buildings.findIndex(building => building.id == buildingToEdit.id);
        this.buildings[index].name = newBuilding.name;
        this.buildings[index].city = newBuilding.city;
        this.buildings[index].address = newBuilding.address;
      }
      else{
        this.buildings.push(newBuilding);
      }

    },
    delBuilding(id){
      this.buildings = this.buildings.filter(building => building.id != id)
    },
    editBuilding(id){
      let buildingToEdit = this.buildings.filter(building => building.id == id)[0]
      this.$refs.addBuilding.id = id;
      this.$refs.addBuilding.name = buildingToEdit.name;
      this.$refs.addBuilding.city = buildingToEdit.city;
      this.$refs.addBuilding.address = buildingToEdit.address;

      this.isCollapsed = false;
    },
    addApartment(newApartment){
      this.buildings.filter(building => building.id == newApartment.buildingId)[0].apartments.push(newApartment);
    },
    delApartment(apartment){
      let buildingAppartments = this.buildings.filter(building => building.id == apartment.buildingId)[0].apartments.filter(apartment => apartment.id != apartment.id)
      this.buildings.filter(building => building.id == apartment.buildingId)[0].apartments = buildingAppartments;
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
